
/* modal */
body.modal-open > :not(.modal) {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}
.modal-input {
  border-bottom: 1px #343a40 solid;
}
.modal-custom {
  width: 350px;
}
.modal-btn-sign-in {
  width: 200px;
  color: #1eb386;
  background-color: white;
  border: 1px #1eb386 solid;
}
.modal-btn-sign-up {
  width: 200px;
  background-color: #1eb386;
  color: white;
  border: none;
}
.full-height {
  height: 100%;
}
.input-custom:focus {
  border: none;
  box-shadow: none;
  border-color: white;
  background-color: #eefffa;
}
.border-none {
  border: none;
  border-radius: 0;
}
.scroll {
  overflow-y: scroll;
  overflow-x: visible;
}

.bg-teal {
    background-color: #1eb386;
}
.hr-border {
    border-top: #343a40 1.5px solid;
    margin: 0;
}
#user-img {
    width: 50px;
    height: 50px;
}

/* messages panel */
.message-friend {
    width: 300px;
    background-color: #607d8b;
}
.message-user {
    width: 300px;
    background-color: #247d62;
}

#message-input {
  position: sticky;
  bottom: 5px;
  border-bottom: 2px #1eb386 solid;
  margin-top: 100%;
}
#message-send-btn {
  height: 100%;
  width: 100%;
}
