
/* navbar */
.navbar-brand > img{
  width: 150px;
}
#searchBar {
  width: 500px;
}
/* modal */
body.modal-open > :not(.modal) {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}
.modal-input {
  border-bottom: 1px #343a40 solid;
}

.modal-input input{
  background-color: white;
  transition: all .20s ease;
}
.modal-input input:focus{
  background-color: rgba(228, 245, 232, 0.438);
}

.modal-custom {
  width: 350px;
}
.modal-btn-sign-in {
  width: 200px;
  height: 30px;
  color: #1eb386;
  background-color: white;
  border: 1px #1eb386 solid;
  transition: all .15s ease;
}

.modal-btn-sign-in:hover {
  color: white;
  background-color: #1eb386;
}

.modal-btn-sign-up {
  width: 200px;
  height: 30px;
  background-color: #1eb386;
  color: white;
  border: none;
  transition: all .15s ease;
}

.modal-btn-sign-up:hover {
  background-color: #23c292;
}
.full-height {
  height: 100%;
}
.input-custom:focus {
  border: none;
  box-shadow: none;
  border-color: white;
  background-color: #eefffa;
}
.border-none {
  border: none;
  border-radius: 0;
}
.scroll {
  overflow-y: scroll;
  overflow-x: visible;
}

.bg-teal {
    background-color: #1eb386;
}
.hr-border {
    border-top: #343a40 1.5px solid;
    margin: 0;
}
#user-img {
    width: 50px;
    height: 50px;
}

.friendRow:hover {
  background-color: #37c59a;
}

.friendRow > a {
  text-decoration: none;
}

/* messages panel */
.message-friend,
.message-user {
  width: fit-content;
  width: -moz-fit-content;
  max-width: 65%;
}

.message-friend {
  background-color: #607d8b;
  border-radius: 10px 10px 10px 0;
}
.message-user p:nth-child(2) {

  text-align: right;
}
.message-user {
  background-image: linear-gradient(to bottom right, #46967e, #247d62);
  border-radius: 10px 10px 0 10px;
}

#message-input {
  position: sticky;
  bottom: 5px;
  border-bottom: 2px #1eb386 solid;
  margin-top: 100%;
}

#msg-input:focus {
  outline: none;
  box-shadow: none;
}

#message-send-btn {
  height: 100%;
  width: 100%;
  outline: none;
}

#message-send-btn:hover {
  background-color: #1a9973;
}

#message-panel {
  overflow-x: hidden; 
  overflow-y: auto;
  height: auto;
  /*height: auto;*/
  max-height: 790px;
  
}

#message-panel::-webkit-scrollbar {
  width: 5px;
  /* toggle this incase you want to see it or not */
  display: none;
  
}
#message-panel::-webkit-scrollbar-track {
  background: rgba(192, 125, 0, 0);
}

#message-panel::-webkit-scrollbar-thumb {
  background-color: #1eb286;
  border-radius: 0px;  
  border: 3px solid rgba(255, 166, 0, 0);
}

#message-panel {
  scroll-behavior: smooth;
}

#msg-container {
  display: none;
}

#show-friends-btn {
  font-size: 120px;
  color: #1eb386;
  padding: 0%;
  position: absolute;
  top: -60px;
  left: 5px;
  border: none;
}